* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header { 
    background-color: #002fffe5;
    padding: 16px 0 ;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}
header button { 
    margin-left: 16px;
}
form { 
    background-color: #0e76e6e3;
    padding: 24px 0;
    text-align: center;   
}
form h2 { 
    margin-bottom: 16px;
    color: #fff;
}
input, button { 
    padding: 8px;
}
button { 
    background-color: #1a0dd3;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
p{ 
    padding: 5px;

}
ul li {
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
}
.container { 
    padding: 8px 0 ;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

.riscado { 
    text-decoration: line-through;
}